*{
    box-sizing: border-box;
    margin: 0;

}
#top{
    background-color:rgb(50,175,176);
 border: 20px solid rgb(50,175,176);
    height: auto;
    display:grid;
   grid-template-columns: repeat(2,1fr);
display: block;

}
#intop{
   
height: 60px;
width: 90%;
margin: auto;
display: flex;
margin-top: 20px;
color: white;
}

.search-bar{
    display: flex;
    background-color: white;
    margin-left: 20px;
width: 50%;
height: 40px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 7px;
color: grey;

}
.search-bar >select{
    border-radius: 7px;
    color: grey;
    border: 0;
}
.search-bar>input{
    width: 70%;
    color: gray;
    border: 0px;
}
svg{
height: 20px;
width: 20px;
}

#top>div{
    
    justify-content: space-around;
}
#midsec{
color: whitesmoke;
 display: flex;

   margin-top: 20px; 
   width: 80%;
   margin: auto;
   
}
#midsec >div {
    display: flex;
align-items: center;
}
#midsec div select{
    height: 30px;
   width: 80px;
   color: whitesmoke;
   background-color:rgb(50,175,176);
   border: 0px solid rgb(50,175,176);
}
#midsec >div>div> img{
    height: 50px;
   
}

#options{
    width: 80%;

    margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
    display: flex; justify-content: space-evenly;
    color: grey;
}
   
    #slider{
     
        overflow: hidden;
        padding-bottom: 20px;
     
    }
   
#slider figure{
position: relative;
width: 500%;
margin: 0;
left: 0;
animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;

}

@keyframes slider {
    0%{
        left: 0;
    }20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

    #three{
   
        width: 95%;
        display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    border-radius: 5px;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    
    }
    
    #three>div{
        height: auto;
    
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     
        border-radius: 10px;
        display: flex;
    }
    
    #three>div>img{
        width: 15%;
        height: 50%;
      margin-top: 15px;
    }
 
   .three_1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 gap: 30px;
width: 90%;
margin: auto;
margin-bottom: 30px;

   
   }
   .three_1>div{
    
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
.three_1 img{
    height: 50%;
padding-left: 10px;
padding-right: 20px;
}
.three_1>div{
    display: flex;
}
   .three_1>div h4{
    color: green;
}
#order{
   width: 90%;
    display: flex;
    margin: auto;

}

#order>div{
    display: flex;
    justify-content: space-between;
width: 50%;
line-height: 40px;
}
#order>div p{
    color: grey;
}
#order>div h3{
    color: rgb(50,175,176);
    
}
#order>div button{
    color: whitesmoke;
    background-color: rgb(50,175,176) ;
    border: solid 5px rgb(50,175,176);
    border-radius: 4px;
    
}
#main{
    margin-bottom: 20px;
}
#teal{color: white;
    border: solid 20px rgb(50,175,176);
    min-height: 150px;
    background-color: rgb(50,175,176);
    display: flex;
    justify-content: space-between;
    padding: 20px;
   margin-bottom: -50px;
   margin-top: 20px;}
#five{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   width: 90%;
   margin: auto;
   gap: 15px;
  
   

}
#five>div{
    padding-top: 20PX;
    background-color: rgb(255,254,254);
    border: solid blue 0px;
    text-align: center;
   line-height: 30px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
  
}

#five>div>div h3{
    line-height: 40px;
    margin-bottom: 20px;
}
#five>div>div button{
    background-color: teal;
    border: solid teal;
    border-radius: 3px;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 10px;
    width: 90%;
}
#five>div>div p{
    color: grey;
}
#five>div>div b{
    color: black;
}
#five>div>div>h4{
    color: teal;
}
#cat{
   
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 20px;
}
#cat>p{
    color: red;
    font-weight: bold;
}
#box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-bottom: 20px;
}
#newbox{
  padding: 20px;
    display: flex;
    justify-content: space-between;
    border: solid grey 1px;
    border-radius: 10px;
    background-color: aliceblue;
   margin-top: 20px;
   margin-bottom: 20px;

}
#newbox>div {
    display: flex;
  
align-items: center;

}

#newbox>div button{
background-color: teal;
height: 40px;
border: teal;
border-radius: 5px;




}
#newfour{

    display: grid;
grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: auto;
 gap: 10px;
 margin-bottom: 30px;
}
#newfour>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
    line-height: 45px;
    border-radius: 7px;
}
#newfour img{
    width: 100%;
}
#text{
    width: 100%;
    padding: 20px;
    padding-top: 30px;
    padding-right: 30px;
    line-height: 20px;
    color: grey;
    background-color: rgb(242,247,250);
}
#text>h2{
    margin: 10px;
    margin-left: 0;
    color: black;
}
#text b{
    color: rgb(137, 143, 145);
}
#main >h1{
margin-left: 3%;
}
#netmed{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    color: grey;
    margin-left: 150px;
    
}
#netmed p{
    width: 100%;
   
    margin-left: 40px;
}
#text-box{
    width: 80%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
display: grid;
grid-template-columns: repeat(4,1fr);
line-height: 30px;
}
#text-box p{
    color: gray;
}
#boxx{
margin-top: 25px;
margin-bottom: 10px;
    display: flex;
justify-content: space-between;
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
#twoimg{
    display: flex;
gap: 20px;
}
#twoimg img{
    width: 45%;
}
#last{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin-left: 150px;
    color: gray;
}
#newmain{
display: flex;

width: 80%;
margin: auto;
}
#newmain>div:first-child{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
#first>div{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    border-radius: 10px;
   padding: 20px;
   line-height: 25px;
   
}
#newmain>#first button{
    background-color: rgb(36,175,176);
    border: 0px;
    color: white;
margin-left: 500px;

font-weight: bold;
  width: max-content;
  min-height: 30%;
margin-top: -9px;
 border-radius: 5px;}

#newmain span{
    color: rgb(238,67,129);
    font-size: large;
}
#second{
    margin: 10px;
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
}

#second>div:first-child{
 
 display: flex;

}
#second>div>div:first-child{
    
    width: 150%;
}
#second>div>div:last-child{

    width: 30%;

}
#second img{
    width: 100%;
    border-radius: 5px;
}
#second>div:last-child{
    display: flex;
    justify-content: space-between;
    color: rgb(244,131,173);
    margin: 10px;
}
#second button{
border-color: rgb(237,236,238);
color: rgb(111,132,176);
border: 0px;
padding: 8px;
border-radius: 6px;
font-weight: bold;

}
#new{
    width:90%;
    margin: auto ;
  margin-bottom: 5px;
}

#mainbox{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#mainbox>h4{
    color: gray;
    padding: 20px;
    margin-bottom: -50px;
}

#catbox{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
   
   margin: auto;
   gap: 15px;
  
   padding: 20px;
   padding-top: 40px;
   margin-top: -20px;
border-radius: 10px;
}
#catbox>div{
  
    background-color: rgb(255,254,254);
    border: solid black 1px;
    text-align: center;
 display: block;
  padding: 5px;
    border-radius: 10px;
  line-height: 20px;
}

#catbox>div>div h5{
    line-height: 10px;
    margin-bottom: 20px;
}
#catbox>div>div button{
    background-color:rgb(36,175,176);
    border: solid teal 0px;
    border-radius: 3px;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 10px;
    width: 90%;
}
#catbox>div>div p{
    color: grey;
}

#catbox>div>div>h4 span{
    color:rgb(241,77,137);
    font-weight: bold;
}
#catbox>div button:first-child{
width: fit-content;
display: block;
font-size: xx-small;
background-color: rgb(133,190,83);
border: 0px;
}
#cat{
    width: 90%;
    margin: auto;
}
a{
    color: blue;
}